
.powersw-container {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.powersw-select-container {
    width: 100%;
    label {
        padding-left: 1rem;
        text-align: center;
        font-size: medium;
        font-weight: 600;
        display: flex;
    }
}

.powersw-select {
    width: 10rem;
}