/** @format */

.tempView {
	color: white;
	background: #334454;
	border-radius: 0.4rem;
	border: 1px solid #1890ff;
	position: absolute;
	bottom: 0;
	text-align: center;
	justify-content: center;
	margin-bottom: 2rem;
	width: 80%;
	margin-left: 10%;
}

.ant-statistic-title {
	margin-bottom: -0.4rem;
	color: white;
	font-size: 14px;
	font-weight: bolder;
	padding-top: 0.3rem;
}

.ant-statistic-content {
	color: rgb(255, 77, 77);
}
