/** @format */

.close-exit-group {
	-webkit-user-select: auto !important;
	-webkit-app-region: normal;
	background-color: #001529;
	position: fixed;
	z-index: 90000;
	right: 0;
	top: 0;
	height: 20px;
	width: 10%;
	border-top: #1890ff !important;
	border: 1px solid darken(#1890ff, 20);
	pointer-events: all !important;
	button {
		height: 20px;
		width: 50%;
		border: solid 1px darken(#1890ff, 30);
		border-top: solid 2px #1890ff;
		border-radius: 0 !important;
		background-color: #001529;
		color: #1890ff;
		line-height: 0.0001;
		padding-top: 0rem;
		&:active {
			background-color: #001529 !important;
		}
		&:focus {
			background-color: #001529 !important;
		}
		&:hover {
			background-color: #1890ff;
			color: #001529;
		}
	}
}
.titlebar-menu-dropdown-panel {
	-webkit-app-region: no-drag;
	pointer-events: all;
	border-radius: none;
	background-color: #001529;
	border: 1px solid #1890ff;
	padding: 0;
	color: white !important;
	&:hover {
		background-color: #001529;
	}
	&:focus {
		background-color: #001529;
	}
	&:active {
		background-color: #001529;
	}
	&:visited {
		background-color: #001529;
	}
	&::selection {
		background-color: #001529;
	}
	.rc-virtual-list-holder-inner {
		div {
			&:hover {
				background-color: lighten(#001529, 10);
			}
			.ant-select-item-option-content {
				&:hover {
					background-color: lighten(#001529, 10);
				}
				color: white;
			}
		}
		.ant-select-item-option-active {
			background-color: #001529;
		}
	}
}
.titlebar-menu-dropdown {
	-webkit-app-region: no-drag;
	pointer-events: all;
	position: absolute;
	top: 0;
	border-top: 2px solid #1890ff;
	height: 20px;
	border-left: 1px solid #1890ff;
	border-bottom: 1px solid #1890ff;
	color: white;
	font-size: smaller;
	width: 15%;
	z-index: 1000000 !important;
	right: 10%;
	background-color: #001529 !important;
	line-height: 1;
	padding: 0;
	.ant-select {
		border: none !important;
	}
	.ant-select-selector {
		border: none !important;
		border-radius: none !important;
		background-color: #001529 !important;
		padding: 0;
		height: 20px !important;
		.ant-select-selection-item {
			padding-left: 0.4rem;
			line-height: 1.1rem;
		}
	}
}
