/** @format */

.ant-select-arrow {
	top: 52%;
}

.deleteplan-button {
	display: inline-block;
	position: absolute;
	width: 100px;
	right: 0px;
	margin-top: 2.5rem;
}

.selectplan-dropdown {
	display: inline-block;
	position: absolute;
	right: 0px;
	width: 200px;
}

.curveplan-container {
	width: 40%;
	position: absolute;
	right: 0px;
	top: 20px;
}
