/** @format */

.cpu-load-figure {
	width: 48%;
	padding: 0.1rem;
	margin-top: -0.1rem;
	display: inline-block;
}

.desc-item-ver-vend {
	display: block;
	padding: 0 !important;
	justify-content: flex-start;
	br {
		height: 0;
		width: 0;
	}
}

th {
	&.desc-item-row {
		width: 30%;
	}
}

ul.ant-skeleton-paragraph {
	/* padding-top: .5rem; */
	padding: 0 !important;
	padding-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

td {
	&.desc-item-row {
		width: 100%;
		padding: 0 !important;
		display: flex;
		justify-items: self-start;
		.desc-item-ver-vend {
			height: 5rem;
			display: flex;
			padding-left: 1rem !important;
			padding-top: 1.7rem !important;
			justify-content: flex-start;
			text-align: center;
			vertical-align: center;
			align-content: center;
			border-right: solid 1px #f0f0f0;
			width: 50%;
		}
	}
}

.refresh-hardware-btn {
	position: fixed !important;
	background-color: #334454;
	color: white;
	border-radius: 0.4rem;
	border: 2px solid #001529;
	right: 2rem !important;
	top: 100px !important;
	z-index: 1000;
	margin-top: 1rem;
	display: block;
	padding: 0.7rem;
	line-height: 0.01 !important;
	&:hover {
		background-color: #334454;
		color: white;
		line-height: 0.01 !important;
	}
	&:focus {
		background-color: #334454;
		color: white;
		border-color: #1890ff;
		border: 2px solid #1890ff;
		line-height: 0.01 !important;
	}
	&:active {
		background-color: #334454;
		color: white;
		line-height: 0.01 !important;
	}
	&:focus-within {
		background-color: #334454;
		color: white;
		line-height: 0.01 !important;
	}
}
