/** @format */

.cpu-presets {
	position: relative;
	width: 300px;
	height: 260px;
	top: 24px;
	background-color: #f0f2f5;
	padding: 0.5rem 1rem 1rem 1rem;
	button {
		position: relative;
		cursor: pointer;
		margin-left: 0.6rem;
		margin-top: 2.4rem;
		width: 100px;
	}
}

.ryzen-form-container {
	margin-top: 0rem;
	width: 58%;
	top: 0;
	form {
		padding: 1.5rem 3.5rem 1.5rem 0rem;
		width: 100%;
		max-width: 500px;
	}
}

.ryzen-form-spacer {
	display: flex;
	justify-content: center;
}
