/** @format */

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.dragArea {
	position: absolute;
	-webkit-user-select: auto;
	-webkit-app-region: drag;
}

.topDrag {
	-webkit-app-region: drag;
	-webkit-user-select: auto;
	background: darken(#001529, 0);
	border-top: 2px solid #1890ff;
	border-bottom: 0.5px solid lighten(#001529, 10);
	width: 100%;
	height: 2rem;
	position: fixed;
	top: 0;
}

// html,
// div,
// table,
// h1,
// h2,
// h3,
// h4,
// h5,
// a,
// thead,
// tbody,
// td,
// tr,
// th,
// p,
// u,
// ul,
// label,
// aside,
// header,
// section,
// footer,
// button,
// ::-webkit-scrollbar-track,
// body {
// 	background-color: black !important;
// 	color: white !important;
// }
