/** @format */

@import '~/antd/dist/antd.css';

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.dragArea {
	position: absolute;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.topDrag {
	-webkit-app-region: drag;
	-webkit-user-select: none;
	background: darken(#001529, 0);
	border-top: 2px solid #1890ff;
	border-bottom: 0.5px solid lighten(#001529, 10);
	z-index: 1000;
	width: 100%;
	height: 2rem;
	position: fixed;
	top: 0;
}
